@import url("https://fonts.googleapis.com/css?family=Inter:500"); 

@font-face { 
	font-family: "MD Nichrome-Ultra"; 
	font-style: normal; 
	font-weight: 400; 
	src: url("css/MDNichrome-Ultra.woff2"); } 


.miladatingu46com { 
align-items: center; 
background-color: var(--jaguar); 
display: flex; 
flex-direction: column; 
min-height: 866px; 
padding: 29px 0; 
width: 1200px; 
} 

.hidden, 
.hidden * { 
	pointer-events: none; 
	visibility: hidden; 
} 


.header { 
	cursor: pointer; 
	display: block; 
	height: 70px; 
	margin-top: 2px; 
	opacity: 0; 
	position: relative; 
	transition: all 0.2s ease; 
	width: 1000px; }

.header.bp1-animate-enter1 { 
	animation: bp1-animate-enter1-frames 0.2s ease-in-out 0s 1 normal forwards; 
	display: block; 
	opacity: 0; 
} 

.header:hover { 
	opacity: 1; 
} 

.mult { 
	height: 68px; 
	margin-top: 37px; 
	opacity: 0; 
	position: relative; 
	width: 1000px; 
} 

.mult.bp1-animate-enter3 { 
	animation: bp1-animate-enter3-frames 0.2s ease-in-out 0s 1 normal forwards; 
	opacity: 0; 
} 

.link { 
	background-color: var(--cararra); 
	box-shadow: 0px 10px 10px -4.25px #0000000a, 0px 2.29px 2.29px -2.83px #0000002c, 0px 0.6px 0.6px -1.42px #00000033; 
	flex: 0 0 auto; 
	flex-direction: column; 
	padding: 20px 30px; 
	width: 320px; 
} 

.valign-text-middle { 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
} 

.primary.bp1-animate-enter2 { 
	animation: bp1-animate-enter2-frames 0.2s ease-in-out 0s 1 normal forwards;
	opacity: 0; 
} 

.primary { 
	height: 537px; 
	margin-left: 0.3px; 
	margin-top: 6px; 
	opacity: 0; 
	position: relative; 
	width: 726px; 
} 

.phone { 
	align-items: flex-end; 
	background-color: var(--blueberry); 
	border-radius: 30px; 
	box-shadow: 0px 10px 50px -1px #00000014, 0px 2.29px 11.44px -0.67px #00000009, 0px 0.6px 3.01px -0.33px #00000005; 
	cursor: pointer; 
	display: flex; 
	height: 494px; 
	left: 52px; 
	overflow: hidden; 
	padding: 16.6px 17.2px; 
	position: absolute; 
	top: 22px; 
	transform: rotate(-5deg); 
	transition: all 0.2s ease; 
	width: 248px; 
} 

.phone:hover { 
	opacity: 1; 
} 

.image { 
	align-items: flex-start; 
	border-radius: 20px; 
	box-shadow: 0px 4px 10px #00000033; 
	display: flex; 
	height: 460px; 
	overflow: hidden; 
	width: 213px; 
} 

.your-answers-indicate { 
	height: 473px; 
	margin-left: -18px; 
	margin-top: -6.3px; 
	object-fit: cover; 
	transform: rotate(5deg); 
	width: 248px; 
} 

.additional { 
	align-items: flex-start; 
	display: flex; 
	flex-direction: column; 
	left: 373px; 
	min-height: 239px; 
	position: absolute; 
	top: 149px; 
	width: 353px; 
} 

.flirt-better-match-more { 
	height: 90px; 
	letter-spacing: 0; 
	line-height: 45px; 
	margin-left: 12.96px; 
	margin-top: 2px; 
	min-width: 234px; 
	position: relative; 
} 

.im-mila-your-perso { 
	align-self: center;
	height: 40px;
	letter-spacing: -0.2px;
	line-height: normal;
	margin-right: 27.7px;
	margin-top: 19px;
	min-width: 290px;
	position: relative; 
} 

.download { 
	align-items: flex-start; 
	display: flex; 
	height: 59px; 
	margin-top: 30px; 
	position: relative; 
	width: 353px; 
} 

.link-1 { 
	background-color: var(--blueberry-2); 
	border-radius: 100px; 
	overflow: hidden; 
	padding: 14.09px 0px 15.91px; 
	width: 353px; 
} 

.download-for-i-os { 
	cursor: pointer; 
	letter-spacing: 0; 
	line-height: 28.8px; 
	margin-top: -1px; 
	position: relative;
	text-align: center;
	text-decoration: underline;
	white-space: nowrap;
	width: fit-content; 
}

.miladatingu46com .link-2 { 
	align-items: center; 
	display: flex; 
	justify-content: center; 
	position: relative; 
} 

.cg { 
	align-items: center; 
	background-color: var(--white); 
	border-radius: 20px; 
	box-shadow: 0px 20px 60px -2.5px #0000000d, 0px 6.38px 19.15px -1.88px #0000000d, 0px 2.41px 7.24px -1.25px #0000000d, 0px 0.8px 2.39px -0.62px #0000000d; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	left: 0; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	width: 320px; 
} 

.pr { 
	align-items: center; 
	background-color: var(--white); 
	border-radius: 20px; 
	box-shadow: 0px 20px 60px -2.5px #0000000d, 0px 6.38px 19.15px -1.88px #0000000d, 0px 2.41px 7.24px -1.25px #0000000d, 0px 0.8px 2.39px -0.62px #0000000d; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	left: 680px; 
	overflow: hidden; 
	position: absolute; 
	top: 0; width: 320px; 
} 

.tc { 
	align-items: center; 
	background-color: var(--white); 
	border-radius: 20px; 
	box-shadow: 0px 20px 60px -2.5px #0000000d, 0px 6.38px 19.15px -1.88px #0000000d, 0px 2.41px 7.24px -1.25px #0000000d, 0px 0.8px 2.39px -0.62px #0000000d; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	left: 340px; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	width: 320px; 
} 

.heading-3 { 
	cursor: pointer; 
	letter-spacing: 0; 
	line-height: 28px; 
	margin-top: -1px; 
	position: relative; 
	text-align: center; 
	text-decoration: underline; 
	white-space: nowrap; 
	width: fit-content; 
} 

.footer.bp1-animate-enter { 
	animation: bp1-animate-enter-frames 0.2s ease-in-out 0s 1 normal forwards; 
	display: block; 
	opacity: 0; 
} 

.footer { 
	background-color: transparent; 
	display: block; 
	flex-shrink: 1; 
	height: 59px; 
	margin-left: 0.22px; 
	margin-top: 30px; 
	opacity: 0; 
	position: relative; 
	width: 127px; 
} 

.mail { 
	height: 34px; 
	left: 24px; 
	position: absolute; 
	top: 0; 
	width: 34px;
} 

.dispo { 
	height: 34px; 
	left: 68px; 
	position: absolute; 
	top: 0;
	width: 34px; 
} 

.copyright { 
	height: 17px; 
	left: 0; 
	letter-spacing: 0; 
	line-height: 16.5px; 
	position: absolute; 
	top: 41px; 
	white-space: nowrap; 
} 

/* screen - mob */

.mob {
  background-color: var(--jaguar);
  height: 1190px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 390px;
}

.mob .header-wwM7x8 {
  display: block;
  height: 70px;
  left: 0px;
  opacity: 0;
  top: 31px;
  width: 390px;
}

.mob .header-wwM7x8.bp1-animate-enter {
  animation: bp1-animate-enter-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mob .phone-wwM7x8 {
  background-color: #4e6aff40;
  border-radius: 30px;
  box-shadow: 0px 10px 50px -1px #00000014 , 0px 2.288530111312866px 11.442700386047363px -0.6666669845581055px #00000009 , 0px 0.6021869778633118px 3.0109400749206543px -0.33333298563957214px #00000005;
  display: block;
  height: 418px;
  left: 92px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  top: 99px;
  transform: rotate(-5.00deg);
  width: 209px;
}

.mob .phone-wwM7x8.bp1-animate-enter1 {
  animation: bp1-animate-enter1-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter1-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mob .image-qfd1qA {
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0px 4px 10px #00000033;
  height: 387px;
  left: 16px;
  overflow: hidden;
  position: relative;
  top: 16px;
  width: 179px;
}

.mob .your-answers-indicate-U8rnlv {
  background-color: transparent;
  height: 398px;
  left: -15px;
  object-fit: cover;
  position: absolute;
  top: -5px;
  transform: rotate(5.00deg);
  width: 208px;
}

.mob .additional-wwM7x8 {
  background-color: transparent;
  display: block;
  height: 239px;
  left: 19px;
  opacity: 0;
  position: absolute;
  top: 547px;
  width: 353px;
}

.mob .additional-wwM7x8.bp1-animate-enter2 {
  animation: bp1-animate-enter2-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter2-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mob .header-VAa2t5 {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 60px;
  top: 3px;
  width: 234px;
}

.mob .flirt-better-match-more-fyXPg5 {
  background-color: transparent;
  color: var(--cararra);
  font-family: var(--font-family-md_nichrome-ultra);
  font-size: var(--font-size-xxl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: 45px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.mob .body-VAa2t5 {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 18px;
  position: absolute;
  top: 111px;
  width: 318px;
}

.mob .im-mila-your-persona-FquBoQ {
  background-color: transparent;
  color: var(--cararra-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -0.20px;
  line-height: normal;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  width: fit-content;
}

.mob .download-VAa2t5 {
  align-items: flex-start;
  background-color: transparent;
  display: flex;
  height: 59px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: 180px;
  width: 353px;
}

.mob .link-DTAzOc {
  background-color: #4e6aff;
  border-radius: 100px;
  padding: 14.09000015258789px 0px 15.90999984741211px;
  width: 353px;
}

.mob .download-for-i-os-v6ogjY {
  background-color: transparent;
  color: var(--cararra);
  cursor: pointer;
  font-family: var(--font-family-md_nichrome-ultra);
  font-size: var(--font-size-xl);
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.00px;
  line-height: 28.8px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.mob .mult-wwM7x8 {
  background-color: transparent;
  display: block;
  height: 244px;
  left: 35px;
  opacity: 0;
  position: absolute;
  top: 821px;
  width: 320px;
}

.mob .mult-wwM7x8.bp1-animate-enter3 {
  animation: bp1-animate-enter3-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter3-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mob .cg-qXI6Eg {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 20px 60px -2.5px #0000000d , 0px 6.382649898529053px 19.148000717163086px -1.875px #0000000d , 0px 2.4145100116729736px 7.2435197830200195px -1.25px #0000000d , 0px 0.7961919903755188px 2.388580083847046px -0.625px #0000000d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0px;
  min-width: 100px;
  overflow: hidden;
  position: absolute;
  top: 0px;
  width: 320px;
}

.mob .link-puKnmm {
  background-color: var(--cararra);
  box-shadow: 0px 10px 10px -4.25px #0000000a , 0px 2.288530111312866px 2.288530111312866px -2.833329916000366px #0000002c , 0px 0.6021869778633118px 0.6021869778633118px -1.4166699647903442px #00000033;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 20px 30px;
  width: 320px;
}

.mob .heading-3-community-guidelines-yfCc6A {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.mob .tc-qXI6Eg {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 20px 60px -2.5px #0000000d , 0px 6.382649898529053px 19.148000717163086px -1.875px #0000000d , 0px 2.4145100116729736px 7.2435197830200195px -1.25px #0000000d , 0px 0.7961919903755188px 2.388580083847046px -0.625px #0000000d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0px;
  min-width: 100px;
  overflow: hidden;
  position: absolute;
  top: 88px;
  width: 320px;
}

.mob .link-28wfWp {
  background-color: var(--cararra);
  box-shadow: 0px 10px 10px -4.25px #0000000a , 0px 2.288530111312866px 2.288530111312866px -2.833329916000366px #0000002c , 0px 0.6021869778633118px 0.6021869778633118px -1.4166699647903442px #00000033;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 20px 30px;
  width: 320px;
}

.mob .heading-3-terms-conditions-7Ac0Jh {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.mob .pr-qXI6Eg {
  align-items: center;
  background-color: var(--white);
  border-radius: 20px;
  box-shadow: 0px 20px 60px -2.5px #0000000d , 0px 6.382649898529053px 19.148000717163086px -1.875px #0000000d , 0px 2.4145100116729736px 7.2435197830200195px -1.25px #0000000d , 0px 0.7961919903755188px 2.388580083847046px -0.625px #0000000d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0px;
  min-width: 100px;
  overflow: hidden;
  position: absolute;
  top: 176px;
  width: 320px;
}

.mob .link-O5CLs2 {
  background-color: var(--cararra);
  box-shadow: 0px 10px 10px -4.25px #0000000a , 0px 2.288530111312866px 2.288530111312866px -2.833329916000366px #0000002c , 0px 0.6021869778633118px 0.6021869778633118px -1.4166699647903442px #00000033;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 20px 30px;
  width: 320px;
}

.mob .heading-3-privacy-policy-Xk1zi5 {
  background-color: transparent;
  cursor: pointer;
  letter-spacing: 0.00px;
  line-height: 28px;
  margin-top: -1.00px;
  position: relative;
  text-align: center;
  text-decoration: underline;
  white-space: nowrap;
  width: fit-content;
}

.mob .footer-wwM7x8 {
  background-color: transparent;
  display: block;
  height: 59px;
  left: 132px;
  opacity: 0;
  position: absolute;
  top: 1100px;
  width: 127px;
}

.mob .footer-wwM7x8.bp1-animate-enter4 {
  animation: bp1-animate-enter4-frames 0.20s ease-in-out 0.00s 1 normal forwards;
  display: block;
  opacity: 0;
}

@keyframes bp1-animate-enter4-frames {
  from{opacity: 0;
}
to{opacity: 1;
}
}

.mob .text-EOoqXB {
  align-items: flex-start;
  background-color: transparent;
  display: inline-flex;
  left: 0px;
  position: absolute;
  top: 42px;
}

.mob .all-summer-long-inc-1l1xZb {
  background-color: transparent;
  color: var(--cararra-2);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-s);
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.00px;
  line-height: 16.5px;
  margin-top: -1.00px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: fit-content;
}

.mob .dispo-EOoqXB {
  background-color: transparent;
  height: 34px;
  left: 68px;
  position: absolute;
  top: 0px;
  width: 34px;
}

.mob .mail-EOoqXB {
  background-color: transparent;
  height: 34px;
  left: 24px;
  position: absolute;
  top: 0px;
  width: 34px;
}

.mob .header {
  background-color: transparent;
  position: absolute;
}
@media screen and (max-width: 1199px) {
  .screen.miladatingu46com { 
    display: none;
   }
}
@media screen and (min-width: 1200px) {
  .screen.mob { 
    display: none;
   }
}

















