@font-face { font-family: "MD Nichrome-Ultra"; font-style: normal; font-weight: 400; src: 
	url("css/MDNichrome-Ultra.woff2"); } 
@import url("https://fonts.googleapis.com/css?family=Inter:500"); 

/* Variables */ 
:root { 
	--black: rgba(0, 0, 0, 1); 
	--jaguar: rgba(0, 2, 19, 1); 
	--blueberry: rgba(78, 106, 255, 0.251); 
	--blueberry-2: rgba(78, 106, 255, 1); 
	--cararra-2: rgba(235, 235, 235, 0.749); 
	--cararra: rgba(235, 235, 235, 1); 
	--white: rgba(255, 255, 255, 1); 
	--font-size-s: 11px; 
	--font-size-m: 16.2px; 
	--font-size-l: 20px; 
	--font-size-xl: 24px; 
	--font-size-xxl: 45px; 
	--font-family-inter: "Inter"; 
	--font-family-md_nichrome-ultra: "MD Nichrome-Ultra"; 
} 

/* Classes */ 
.mdnichrome-ultra-normal-jaguar-20px { 
	color: var(--jaguar); 
	font-family: var(--font-family-md_nichrome-ultra); 
	font-size: var(--font-size-l); 
	font-weight: 400; 
	font-style: normal; 
} 

.mdnichrome-ultra-normal-cararra-24px { 
	color: var(--cararra); 
	font-family: var(--font-family-md_nichrome-ultra); 
	font-size: var(--font-size-xl); 
	font-weight: 400; 
	font-style: normal; 
} 

.inter-medium-cararra-16-2px { 
	color: var(--cararra-2); 
	font-family: var(--font-family-inter); 
	font-size: var(--font-size-m); 
	font-weight: 500; 
	font-style: normal; 
} 

.mdnichrome-ultra-normal-cararra-45px { 
	color: var(--cararra); 
	font-family: var(--font-family-md_nichrome-ultra); 
	font-size: var(--font-size-xxl); 
	font-weight: 400; 
	font-style: normal; 
} 

.inter-medium-cararra-11px { 
	color: var(--cararra-2); 
	font-family: var(--font-family-inter); 
	font-size: var(--font-size-s); 
	font-weight: 500; 
	font-style: normal; 
}


.miladatingu46com { 
align-items: center; 
background-color: var(--jaguar); 
display: flex; 
flex-direction: column; 
min-height: 866px; 
padding: 29px 0; 
width: 1200px; 
} 

.hidden, 
.hidden * { 
	pointer-events: none; 
	visibility: hidden; 
} 

.mult.bp1-animate-enter3 { 
	animation: bp1-animate-enter3-frames 0.2s ease-in-out 0s 1 normal forwards; 
	opacity: 0; 
} 

.mult { 
	height: 68px; 
	margin-top: 37px; 
	opacity: 0; 
	position: relative; 
	width: 1000px; 
} 

.tc { 
	align-items: center; 
	background-color: var(--white); 
	border-radius: 20px; 
	box-shadow: 0px 20px 60px -2.5px #0000000d, 0px 6.38px 19.15px -1.88px #0000000d, 0px 2.41px 7.24px -1.25px #0000000d, 0px 0.8px 2.39px -0.62px #0000000d; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	left: 340px; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	width: 320px; 
} 

.miladatingu46com .link-2 { 
	align-items: center; 
	display: flex; 
	justify-content: center; 
	position: relative; 
} 

.link { 
	background-color: var(--cararra); 
	box-shadow: 0px 10px 10px -4.25px #0000000a, 0px 2.29px 2.29px -2.83px #0000002c, 0px 0.6px 0.6px -1.42px #00000033; 
	flex: 0 0 auto; 
	flex-direction: column; 
	padding: 20px 30px; 
	width: 320px; 
} 

.valign-text-middle { 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
} 

.heading-3 { 
	cursor: pointer; 
	letter-spacing: 0; 
	line-height: 28px; 
	margin-top: -1px; 
	position: relative; 
	text-align: center; 
	text-decoration: underline; 
	white-space: nowrap; 
	width: fit-content; 
} 

.pr { 
	align-items: center; 
	background-color: var(--white); 
	border-radius: 20px; 
	box-shadow: 0px 20px 60px -2.5px #0000000d, 0px 6.38px 19.15px -1.88px #0000000d, 0px 2.41px 7.24px -1.25px #0000000d, 0px 0.8px 2.39px -0.62px #0000000d; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	left: 680px; 
	overflow: hidden; 
	position: absolute; 
	top: 0; width: 320px; 
} 

.cg { 
	align-items: center; 
	background-color: var(--white); 
	border-radius: 20px; 
	box-shadow: 0px 20px 60px -2.5px #0000000d, 0px 6.38px 19.15px -1.88px #0000000d, 0px 2.41px 7.24px -1.25px #0000000d, 0px 0.8px 2.39px -0.62px #0000000d; 
	display: flex; 
	flex-direction: column; 
	justify-content: center; 
	left: 0; 
	overflow: hidden; 
	position: absolute; 
	top: 0; 
	width: 320px; 
} 

.footer.bp1-animate-enter { 
	animation: bp1-animate-enter-frames 0.2s ease-in-out 0s 1 normal forwards; 
	display: block; 
	opacity: 0; 
} 

.footer { 
	background-color: transparent; 
	display: block; 
	flex-shrink: 1; 
	height: 59px; 
	margin-left: 0.22px; 
	margin-top: 30px; 
	opacity: 0; 
	position: relative; 
	width: 127px; 
} 

.dispo { 
	height: 34px; 
	left: 68px; 
	position: absolute; 
	top: 0;
	width: 34px; 
} 

.mail { 
	height: 34px; 
	left: 24px; 
	position: absolute; 
	top: 0; 
	width: 34px;
} 

.copyright { 
	height: 17px; 
	left: 0; 
	letter-spacing: 0; 
	line-height: 16.5px; 
	position: absolute; 
	top: 41px; 
	white-space: nowrap; 
} 

.primary.bp1-animate-enter2 { 
	animation: bp1-animate-enter2-frames 0.2s ease-in-out 0s 1 normal forwards;
	opacity: 0; 
} 

.primary { 
	height: 537px; 
	margin-left: 0.3px; 
	margin-top: 6px; 
	opacity: 0; 
	position: relative; 
	width: 726px; 
} 

.phone { 
	align-items: flex-end; 
	background-color: var(--blueberry); 
	border-radius: 30px; 
	box-shadow: 0px 10px 50px -1px #00000014, 0px 2.29px 11.44px -0.67px #00000009, 0px 0.6px 3.01px -0.33px #00000005; 
	cursor: pointer; 
	display: flex; 
	height: 494px; 
	left: 52px; 
	overflow: hidden; 
	padding: 16.6px 17.2px; 
	position: absolute; 
	top: 22px; 
	transform: rotate(-5deg); 
	transition: all 0.2s ease; 
	width: 248px; 
} 

.phone:hover { 
	opacity: 1; 
} 

.image { 
	align-items: flex-start; 
	border-radius: 20px; 
	box-shadow: 0px 4px 10px #00000033; 
	display: flex; 
	height: 460px; 
	overflow: hidden; 
	width: 213px; 
} 

.your-answers-indicate { 
	height: 473px; 
	margin-left: -18px; 
	margin-top: -6.3px; 
	object-fit: cover; 
	transform: rotate(5deg); 
	width: 248px; 
} 

.additional { 
	align-items: flex-start; 
	display: flex; 
	flex-direction: column; 
	left: 373px; 
	min-height: 239px; 
	position: absolute; 
	top: 149px; 
	width: 353px; 
} 

.im-mila-your-perso { 
	align-self: center;
	height: 40px;
	letter-spacing: -0.2px;
	line-height: normal;
	margin-right: 27.7px;
	margin-top: 19px;
	min-width: 290px;
	position: relative; 
} 

.flirt-better-match-more { 
	height: 90px; 
	letter-spacing: 0; 
	line-height: 45px; 
	margin-left: 12.96px; 
	margin-top: 2px; 
	min-width: 234px; 
	position: relative; 
} 

.download { 
	align-items: flex-start; 
	display: flex; 
	height: 59px; 
	margin-top: 30px; 
	position: relative; 
	width: 353px; 
} 

.link-1 { 
	background-color: var(--blueberry-2); 
	border-radius: 100px; 
	overflow: hidden; 
	padding: 14.09px 0px 15.91px; 
	width: 353px; 
} 

.download-for-i-os { 
	cursor: pointer; 
	letter-spacing: 0; 
	line-height: 28.8px; 
	margin-top: -1px; 
	position: relative;
	text-align: center;
	text-decoration: underline;
	white-space: nowrap;
	width: fit-content; 
} 

.header:hover { 
	opacity: 1; 
} 

.header.bp1-animate-enter1 { 
	animation: bp1-animate-enter1-frames 0.2s ease-in-out 0s 1 normal forwards; 
	display: block; 
	opacity: 0; 
} 

.header { 
	cursor: pointer; 
	display: block; 
	height: 70px; 
	margin-top: 2px; 
	opacity: 0; 
	position: relative; 
	transition: all 0.2s ease; 
	width: 1000px; }



















