/* Variables */ 
:root { 
	--black: rgba(0, 0, 0, 1); 
	--jaguar: rgba(0, 2, 19, 1); 
	--blueberry: rgba(78, 106, 255, 0.251); 
	--blueberry-2: rgba(78, 106, 255, 1); 
	--cararra-2: rgba(235, 235, 235, 0.749); 
	--cararra: rgba(235, 235, 235, 1); 
	--white: rgba(255, 255, 255, 1); 
	--font-size-s: 11px; 
	--font-size-m: 16.2px; 
	--font-size-l: 20px; 
	--font-size-xl: 24px; 
	--font-size-xxl: 45px; 
	--font-family-inter: "Inter"; 
	--font-family-md_nichrome-ultra: "MD Nichrome-Ultra"; 
} 

/* Classes */ 
.mdnichrome-ultra-normal-jaguar-20px { 
	color: var(--jaguar); 
	font-family: var(--font-family-md_nichrome-ultra); 
	font-size: var(--font-size-l); 
	font-weight: 400; 
	font-style: normal; 
} 

.mdnichrome-ultra-normal-cararra-24px { 
	color: var(--cararra); 
	font-family: var(--font-family-md_nichrome-ultra); 
	font-size: var(--font-size-xl); 
	font-weight: 400; 
	font-style: normal; 
} 

.inter-medium-cararra-16-2px { 
	color: var(--cararra-2); 
	font-family: var(--font-family-inter); 
	font-size: var(--font-size-m); 
	font-weight: 500; 
	font-style: normal; 
} 

.mdnichrome-ultra-normal-cararra-45px { 
	color: var(--cararra); 
	font-family: var(--font-family-md_nichrome-ultra); 
	font-size: var(--font-size-xxl); 
	font-weight: 400; 
	font-style: normal; 
} 

.inter-medium-cararra-11px { 
	color: var(--cararra-2); 
	font-family: var(--font-family-inter); 
	font-size: var(--font-size-s); 
	font-weight: 500; 
	font-style: normal; 
}
